<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Hiba</title>
</head>
<body>
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
    <h1 style="margin-bottom: 10px;">Az kért lista nem nyitható meg!</h1>
    <p style="margin-bottom: 10px;">A következő a hiba oka: <%= error %></p>
    </div>
</body>
</html>