<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Listák</title>
    <script>
        function setRender() {
            document.getElementById("brender").innerText= "kliens: " + new String(window.performance.timing.domComplete-window.performance.timing.domContentLoadedEventEnd) + " ms";
        }
    </script>
</head>
<body onload="setRender()">
    <nav>
        <ul>
          <li><strong style="margin-left: 10px;">Listák</strong></li>

        </ul>
        <ul>
            <li><strong style="margin-right: 10px;">szerver: <%- time %> ms</strong></li>
            <li><strong id="brender" style="margin-right: 10px;"></strong></li>
        </ul>
    </nav>
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
    <%- lists  %>
    </div>
</body>
</html>