<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Document viewer</title>
    <script>
        window.questionArray = <%- JSON.stringify(questionArray) %>;
        window.answerArray = <%- JSON.stringify(answerArray) %>;
        function setRender() {
            document.getElementById("brender").innerText= "d-cli: " + new String(window.performance.timing.domComplete-window.performance.timing.domContentLoadedEventEnd) + " ms";
        }
        function render() {
        for (var i = 0; i < window.questionArray.length; i++) {
            document.getElementById("cards").innerHTML += `<article style="margin: 10px !important"><p style="text-align: left;font-size:1em">${window.questionArray[i]} - ${window.answerArray[i]}</p></article>`;   
        }
    }
        
    </script>
</head>
<style>
      :root {
    --typography-spacing-vertical: 5px;
  }
</style>
<body onload="setRender();render()">
    <nav>
        <ul>
          <li><strong style="margin-left: 10px;"><%- listname %></strong></li>

        </ul>
        <ul style="margin-right: 0px !important">
            <li><strong style="margin-right: 10px;">d-ssr: <%- time %> ms</strong></li>
            <li><strong id="brender" style="margin-right: 0px;"></strong></li>
        </ul>
    </nav>
    <div id="cards" style="margin-left: 10px; margin-right: 10px;">

    </div>
</body>
</html>
